* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
   
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main_page_content {
    flex-grow: 1
}
/*INDEX.HTML*/
/*header*/

.header_module {}

.header_menu_back {
    background-color: black;
}
.header_menu {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left {

}
.header_right {
}
.menu_icon1 {
    display: inline-block;
    margin-right: 41px;
}
.menu_icon2 {
    display: inline-block
}
.menu_icon2:not(:last-child) {
    margin-right: 33px;
}
.menu_icon1_anim:hover {
    transform: scale(1.2);  
}
.menu_icon2_anim:hover {
    transform: scale(1.2);
}
.header_content {
    background-color:#F1E4E6;
    height: 764px;
    position: relative;
}
.head_content_flex {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    background-image: url(../img/Head_image_man.png);
    background-repeat: no-repeat;
    background-position-x: -228px;
    padding-right: 99px;
}
.head_menu_module{
    
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45px;
    left: 200px;
    height: 764px;
    min-width: 232px;
    background: #FFFFFF;
    box-shadow: 0px 19px 11px 0px rgba(0, 0, 0, 0.24);
    opacity: 1;
    z-index: 3; 
}
.head_menu_module:hover {
    opacity: 1;
    transform: translateX(-232px);
    transition: 1.5s;
}
.new_details {
    position: relative;
}
.test_block {
    position: absolute;
    background: white;
}
.menu_block_exit {
    align-self: end;
    margin: 16px 16px 0px 0px;
}
.menu_block {
    display: block;
    margin-top: 9px;
    padding-left: 34px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.menu_block_main {
    display: block;
    margin-top: 20px;
    padding-left: 34px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #F16D7F;
}
.menu_block_main:last-child {
    margin-top: 24px;
}
.menu_block_link {
    display: block;
    margin-top: 12px;
    padding-left: 54.5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #6F6E6E;
}
.menu_block_link:hover, .menu_block:hover,.menu_block_exit:hover, .menu_block_main:hover {
    transform: scale(1.2);
}
.title_decor {
    color: #F16D7F;
}
.head_content_title {
    max-width: 405px;
    border-left: 12px solid #F16D7F; 
    padding-left: 16px;
}
.head_title_text {
    font-style: normal;
    font-weight: 700;
    font-size:  32px;
    line-height: 38px;
    color: #222222;
}
.title_text_bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
/*header*/
/*stock_items*/
.category_module {
    margin-top: 65px;
}
.category_module_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.category_item:not(:last-child) {
    max-width: 360px;
    height: 260px; 
}
.category_item {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.card_text:hover {
    transform: scale(1.1);
}
.card_text_decor {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.decor_zero {
    text-decoration: none;
}
.card1 {
    background-image: url(../img/for_woman.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.card2 {
    background-image: url(../img/for_man.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.card3 {
    background-image: url(../img/for_kid.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.card4 {
    background-image: url(../img/for_acc.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
/*stock_items*/
/*featured_items*/
.featured_items_module {
    margin-top: 96px;
}
.featured_items_text {
    text-align: center;
}
.featured_items_heading {
    font-size: 30px;
    line-height: 36px; 
    color: #222222;
}
.featured_items_paragraph {
    margin-top: 6px;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}
.featured_items {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;  
}
.featured_items_card {  
    max-width: 360px;
    height: 100%;
    background: #F8F8F8;
}
.featured_items_card_heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
    padding-left: 18px;
}
.featured_items_card_paragraph {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    padding-bottom: 18px;
    padding-left: 18px;
}

.featured_items_card_price:before {
    content: '$';
    margin-bottom: 15px;
}
.card_price {
    padding-left: 18px;
    margin-bottom: 16px;
}
.featured_items_card_price {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F; 
}
.featured_items_link {
    text-decoration: none;
}
.shadow_card {
    background: #000000;
    max-height: 420px;
    position: relative;
}
.featured_items_img {}

.featured_items_card:hover .featured_items_img {
    opacity: 0.5;
    transition: 1s;  
}
.featured_items_img_button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 188.5px;
    left: 111.5px;
    border: 1px solid #FFFFFF;
    text-decoration: none;
    padding: 10px 13px 8px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
    background: transparent;
    opacity: 0; 
}
.featured_items_card:hover .featured_items_img_button{
    transition: 1s;
    opacity: 1;
}
.featured_items_img_button:hover {
    transform: scale(1.5);
}
.catalog_button {
    padding: 14.5px 38.5px 13.5px 38.5px;
    border: 1px solid #FF6A6A;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 48.5px;
}
.buttun_flex_center {
    display: flex;
    justify-content: center;
}
.catalog_button:hover {
    background: #FF6A6A;
    color: #FFFFFF;
    transition: 0.5s;
}
.img_button_basket {
    padding-right: 11px;
}



/*featured_items*/
/*INDEX.HTML*/


/*benefits_GENERAL*/
.benefits {
    width: 100%;
    background: #222224;
    margin-top: 95.5px;
  }
  
  .benefits__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .benefits__card {
    max-width: 360px;
    height: 100%;
    padding: 104px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .benefits__card h3 {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    margin-top: 25px;
  }
  
  .benefits__card p {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 16px;
    opacity: 0.7;
  }
  
  .benefits__card:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }


  @media (max-width:1024px) {
    .container {
        max-width: 992px;
    }
    .benefits {
        margin-top: 64px;
    }
    .benefits__flex {
        flex-direction: column;
        align-items: center;
    }
    .benefits__card {
        padding: 0px;
        padding-top: 48px;
    }
    .benefits__card:nth-child(3) {
        padding-bottom: 48px;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 736px;
    }
    .benefits {
        margin-top: 64px;
    }
    .benefits__flex {
        flex-direction: column;
        align-items: center;
    }
    .benefits__card {
        padding: 0px;
        padding-top: 48px;
    }
    .benefits__card:nth-child(3) {
        padding-bottom: 48px;
    }
}
@media (max-width:667px) {
    .container {
        max-width: 649px;
    }
    .benefits__flex {
        flex-direction: column;
        align-items: center;
    }
    .benefits__card {
        padding: 0px;
        padding-top: 48px;
    }
    .benefits__card:nth-child(3) {
        padding-bottom: 48px;
    }
}


/*benefits_GENERAL*/
/*subscribe_GENERAL*/
.subscribe_module{
    background-image: url(../img/subscribe_back.png);
    background-repeat: round; /*тут можно без репита, то тогда при ширине >1598px белая полоса */
    height: 100%;
    width: 100%;
}
.subscribe_flex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.wishes {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 86px;
    padding-bottom: 174px;
}
.wishes_paragraph {
    margin-top: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.subscribe {
    max-width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 156px;
}
.subscribe_button {
    margin-top: 32px;
    width: 100%;
    display: flex;
}
.subscribe_text {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}
.subscribe_text_decor {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: -8px;
}
.input_email {
    padding: 8px 0px 7px 22px;
    background: #E1E1E1;
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    width: 100%; 
}
.input_submit {
    background: #F16D7F;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: -5px;
    padding: 7px 7px 6px 8px;
    border: 0px;
    border-radius: 0px 15px 15px 0px;
    height: 49px;
    width: 100%;
    max-width: 100px;
}
/*subscribe_GENERAL*/

/*footer_GENERAL*/
.footer {
    background:#222224;
    padding: 30px 0px;

}
.footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_icons {

}
.footer_text_decor {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.foot_icon {
    background: white;
}
.foot_icon:hover {
    background: #F16D7F;
}   
.foot_icon:hover .icon_color {
    fill: white;
}
/*footer_GENERAL*/



/*CATALOG.HTML*/
/*header*/
.header_catalog_module {
    background: #F8F3F4;
}
.header_catalog_module_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}
.header_catalog_title_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-decoration: none;
    text-transform: uppercase;
}
.header_catalog_categ_link {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
    text-transform: uppercase;
    text-decoration: none;
}
.header_catalog_categ_link:nth-child(3) {
    color:#F16D7F;
    font-weight: 700;
}
.header_catalog_categ_link:hover {
    color: #F16D7F;
    font-weight: 700;
}
/*header*/
/*catalog_ITEMS*/
.catalog_items_module{
    margin-top: 51px;
}
/*catalog_filter*/
.catalog_items_filter {
    display: flex;
   
}
.filter_category_container {
    position: relative;
}
.filter_category {
    display: block;
    padding: 13px 16px 16px 16px;
    min-width: 360px;
    background: white;
    
    
}
.filter_category[open] summary{
        animation: sweep .5s ease-in-out;
      }
@keyframes sweep {
        0%    {opacity: 0; transform: translateX(-10px)}
        100%  {opacity: 1; transform: translateX(0)}
      }
.filter_category_summary {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}
.filter_category_summary_img {
    margin-left: 11px;
    fill: black;
}
.filter_category[open] .filter_category_summary {
    color: #F16D7F;
}
.filter_category[open] .filter_category_summary_img {
    fill: #F16D7F;
}
.filter_category_tsp_img {
    margin-left: 11px;
    fill: black;
}
.filter_category_tsp[open] .filter_category_tsp_sum {
    color: #F16D7F;
}
.filter_category_tsp[open] .filter_category_tsp_img {
    fill: #F16D7F;
}
.filter_category_tsp[open] .filter_category_size_list{
    animation: sweep .5s ease-in-out;
  }
@keyframes sweep {
    0%    {opacity: 0; transform: translateY(-10px)}
    100%  {opacity: 1; transform: translateY(0)}
  }

.filter_category_title {
    margin-top: 16px;
}

.filter_category_list {
    padding-bottom: 8px;
    padding-left: 18px;
    list-style: none;
}
.filter_category_item {
    margin-top: 11px;
}
.filter_category_item:nth-child(6) {
    margin-top: 5px;
}
.filter_category_items_style {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}
.filter_category_items_style:hover {
    color: #F16D7F;
}
.filter_category_title_text {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #EF5B70;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px 11px 10px 11px;
    text-transform: uppercase;
    outline: none;
}
.filter_category[open] {
    box-shadow: 0px 0px 20px 7px rgba(34, 60, 80, 0.2);
}
.filter_category_tsp_module {
    display: flex;
    gap: 28px;
    padding-top: 13px;

}
.filter_category_tsp_module_container {
    margin-left: 30px;
    position: relative;
}

.filter_category_tsp {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
}

.filter_category_size_list {
    position: absolute;
    margin-top: 1px;
    left: 150px;
    z-index: 3;
    background: white;
    padding: 9.5px 30px 12.5px 9.5px;
    width: fit-content;
    height: 103px;
    box-shadow: 0px 0px 20px 7px rgba(34, 60, 80, 0.2);
}
.filter_category_shadow {
    padding: 0px 16px 16px 16px;
    position: absolute;
    z-index: 3;
    background: white;
    left: 0px;
    width: 100%;
    box-shadow: -2px 13px 19px 0px rgba(34, 60, 80, 0.28);
    overflow: hidden;
}
.filter_category_tspstyle {
    list-style-type: none;
}
.filter_category_tspsize {
    display: block;
    align-items: center;
}
.filter_category_tspsize:nth-child(2), .filter_category_tspsize:nth-child(3)  {
    margin-top: 6px;
}
.filter_category_tspsize:nth-child(4) {
    margin-top: 8px;
}
.input_tspsize {
    margin-right: 9.5px;
}


/*CATALOG_PAGE_SLIDER*/
.catalog_page {
    display: flex;
    justify-content: center;
    margin-top: 48.5px;
}
.catalog_page_flex {
    display: flex;
    justify-content: center;
    border: 1px solid #EBEBEB;
    width: fit-content;
}

.catalog_page_button {
    padding: 11.5px 7.5px 12.5px 7.5px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: gray;
    text-decoration:none;
    text-transform: uppercase;
}

.catalog_page_button:last-child {
    padding-right: 15px;
    
}
.catalog_page_button:first-child {
   padding-left: 15px;
   
}
.catalog_page_button:nth-child(8) {
    padding-left: 0px;
    padding-right: 0px;
}
.catalog_page_button:nth-child(7) {
    padding-right: 0px;
}
.catalog_page_button:nth-child(9) {
    padding-left: 0px;
}

.catalog_page_button:hover {
    color:#EF5B70;
}
.catalog_page_button:hover .page_fill {
    fill: #EF5B70;
}
/*CATALOG_PAGE_SLIDER*/

@media (max-width:1024px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
    .catalog_items_module {
    }
    .catalog_items_filter {
        justify-content: space-evenly;
        align-items: center;
        margin-top: 24px;
    }
    .featured_items {
        justify-content: center;
        align-items: center;
    }
    .featured_items {
        margin-top: 32px;
        gap: 16px;
    }
    .card_none {
        display: none;
    }
    .catalog_page {
        margin-top: 40px;
    }
}
@media (max-width:768px) {
    .container {
        margin: 0 auto;
        max-width: 736px;
    }
    .catalog_items_filter {
        justify-content: space-between;
        margin-top: 24px;
    }
    .filter_category_tsp_module {
        padding-top: 0px;
        margin-left: 0px;
    }
    .catalog_items_module {
        
    }
    .featured_items {
        justify-content: center;
        align-items: center;
    }
    .featured_items {
        margin-top: 32px;
        gap: 16px;
    }
    .card_none {
        display: none;
    }
    .catalog_page {
        margin-top: 40px;
    }
   
}
@media (max-width:667px) {
    .container {
        max-width: 649px;
        margin: 0 auto;
    }
    .catalog_items_filter {
        justify-content: space-evenly;
    }
    .filter_category {
        min-width: fit-content;
        padding: 0px 10px 0px 0px;
    }
    .filtering {
        display: none;
    }
    .filter_category_tsp_module {
        padding-top: 0px;
        margin-left: 0px;
    }
    .filter_category_summary_img {
        transform: scale(1.5);
    }
    .filter_category_shadow {
        width: 360px;
        left: 10px;
        
    }
    .filter_category_tsp_sum {
        font-size: 12px;
    }
    
    
}
/*CATALOG.HTML*/
/*REGISTRATION.HTML*/
.header_reg_module_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}
.header_reg_module {
    background: #F8F3F4;
}
.header_reg_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-decoration: none;
    text-transform: uppercase;
}
.subscribe_form_module {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    
}
.subscribe_form {
    max-width: 360px;
    margin-bottom: 96px;
}
.subscribe_form1 {
    display: flex;
    flex-direction: column;
}
.checkbox_module {
    display: flex;
    margin-top: 31.5px;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000; 
}
.checkbox_module_type {
    display: block;
    
    height: 17px;
    width: 17px;
    border: 1px solid #A4A4A4;
    margin-right: 10px;
    align-self: center;
}
.checkbox_module_male {
    display: flex;
    align-items: center;
}

.checkbox_module_female {
    display: flex;
    align-items: center;
    margin-left: 20px;

}
.subscribe_form1_text {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.subscribe_form1_text:nth-child(5) {
    margin-top: 21px;
}

.subscribe_form1_p {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 15.5px;
}
.input_form {
    border: 1px solid #A4A4A4;
    height: 44px;
    padding-left: 17px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 21px;
}
.button_submit {
    height: 50px;
    width: 167px;
    background: #F16D7F;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 39px;

}
.submit_arrow {
    padding-left: 20px;
}
.subscribe_text_reg {
    display: block;
    max-width: 652px;
}

.subscribe_text_tittle {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-transform: uppercase;
    text-align: left;
}
.subscribe_text_paragraph {
    margin-top: 22px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: left;
}
.subscribe_text_list {
    list-style: url(../img/registration-v.svg);
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: left;
}
.subscribe_text_list_link {
    margin-top: 21px;
    margin-left: 23px;
}

@media (max-width:1024px) {
    .container {
        max-width: 992px;
    }
    .subscribe_form_module {
        padding-top: 40px;
    }
    .subscribe_text_reg {
        max-width: 354px;
    }
    .subscribe_text_tittle, .subscribe_text_list, .subscribe_text_paragraph {
        font-size: 16px;
    }

}
@media (max-width:768px) {
    .container {
        max-width: 736px;
    }
    .subscribe_form_module {
        padding-top: 40px;
    }
    .subscribe_text_reg {
        max-width: 354px;
    }
    .subscribe_text_tittle, .subscribe_text_list, .subscribe_text_paragraph {
        font-size: 16px;
    }
}
@media (max-width:667px) {
    .container {
        max-width: 649px;
    }
    .subscribe_form_module {
        padding-top: 40px;
    }
    .subscribe_form_module {
        flex-direction: column;
        align-items: center;
    }
    .subscribe_form {
        margin-bottom: 40px;
    }
    .subscribe_text_reg {
        max-width: 354px;
        margin-bottom: 96px;
    }
    .subscribe_text_tittle, .subscribe_text_list, .subscribe_text_paragraph {
        font-size: 16px;
    }

}
/*REGISTRATION.HTML*/

/*PRODUCT.HTML*/
.subscribe_module_product {
    margin-top: 128px;
    background-image: url(../img/subscribe_back.png);
    background-repeat: round; /*тут можно без репита, то тогда при ширине >1598px белая полоса */
    height: 100%;
    width: 100%;
}

.header_product_module {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F7F7;
    z-index: 1;
    padding-bottom: 53px;
    
}
.left_select, .right_select {
    display: block;
    background: rgba(42, 42, 42, 0.15);
    padding: 12.6px 17.3px 8.9px 17.3px;
    border: 0px;
    cursor: pointer;
}

.left_select:hover .page_fill {
    fill: #EF5B70;;
}
.right_select:hover .page_fill {
    fill: #EF5B70;;
}

.main_product_module {
    margin-top: -50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.main_product_descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #EAEAEA;
    background: white;
    padding-bottom: 65px;
    max-width: 1141px;
    width: 100%;
    
}
.container_product_descr {
    text-align: center;
    max-width: 641px;
    margin: auto;
}
.product_items_module{
    margin-top: 128px;
    
}
.product_items_filter {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.product_filter_category {
    display: block;
    padding: 13px 0px 0px 16px;
    width: 360px;
    
}

.product_filter_category_summary {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
}




.filter_category_tsp {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;  
}
.filter_category_tsp_sum {
    display: block;
}

.main_product_descr_title {
    display: block;
    margin-top: 64px;
    padding-bottom: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;
}
.string_red {
    display: block;
    max-width: 63px;
    height: 3px;
    background: #EF5B70;
    border: 0px;
    margin:auto;
}
.string_grey {
    display: block;
    max-width: 641px;
    height: 1px;
    background: #EAEAEA;
    border: 0px;
    margin:auto;
}
.main_product_descr_name {
    display: block;
    margin-top: 12px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
}
.main_product_descr_paragraph {
    margin-top: 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
}
.main_product_descr_price {
    margin-top: 32px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-bottom: 65px;
}
.main_product_descr_price:before {
    content: "$";
}
.main_product_button_flex {
    display: flex;
    justify-content: center;
}
.main_product_button {
        margin-top: 48px;
        display: flex;
        justify-content: space-around;
        width: 211px;
        height: 47.4px;
        align-items: center;
        text-decoration: none;
        border: 1px solid #FF6A6A;
        background: white;
}
.main_product_button_text {
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F26376;
}
.main_product_button_basket_color {
    fill: #F26376;;
}

.main_product_button:hover {
    background-color: #F16D7F;
}
.main_product_button:hover .main_product_button_text {
    color: white;
}
.main_product_button:hover .main_product_button_basket_color {
    fill: white;
}

@media (max-width:1024px) {
    .container {
        max-width: 992px;
    }
    .main_product_module {
        margin-top: 0px;
    }
    .main_product_descr {
        max-width: 768px;
    }
    .featured_items_card:nth-child(3) {
        display: none;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 736px;
    }

}
@media (max-width:667px) {
    .container {
        max-width: 649px;
    }
    .product_img {
        width: 100%;
        max-width: 250px;
    }
    .string_grey {
        max-width: 175px;
    }
    .featured_items {
        gap: 0px;
    }
    .featured_items_card:nth-child(2) {
        display: none;
    }
    .featured_items_card:nth-child(3) {
        display: block;
    }
}
/*PRODUCT.HTML*/
/*CART.HTML*/
.shopping_cart_module {
    margin-top: 96px;
}
.shopping_cart_items {
    max-width: 652px;
    width: 100%;
}
.shopping_cart_module_flex {
    display: flex;
    justify-content: space-between;
    
}
.shopping_cart_items_card {
    display: flex;
    box-shadow: 13px 10px 8px 4px rgba(0, 0, 0, 0.2);
    
}
.cart_card_descr {
    width: 100%;
    margin-left: 31px;
    margin-right: 22px;
}
.cart_card_descr_main {
    margin-top: 22px;
    
}
.cart_card_descr_main_flex {
    display: flex;
    justify-content: space-between;
    
}
.cart_card_price, .cart_card_color, .cart_card_size, .cart_card_quantity {
    display: flex;
}
.cart_card_descr_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
}
.cart_card_descr_text {
    margin-top: 42px;
}
.parametr_text {
    display: block;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #575757;
}

.cart_card_quantity_input {
    width: 43px;
    text-align: center;
    margin-left: 24px;
}
.cart_img {
    width: 262px;
}
.cart_card_2 {
    margin-top: 40px;
}
.cart_page {
    margin-top: 128.5px;
}

.shopping_cart_checkout {
    display: flex;
    flex-direction: column;
    
}
.shopping_cart_adress_form {
    display: flex;
    flex-direction: column;
    
}
.shopping_cart_adress {
    max-width: 360px;
    
}
.shopping_cart_proceed_module {
    margin-top: 57px;
    background: #F5F3F3;
    display: flex;
    flex-direction: column;
    padding: 39px 34px;
}
.shopping_cart_checkout_subtotal, .shopping_cart_checkout_grandtotal {
    display: flex;
    justify-content: flex-end;
}
.shopping_cart_checkout_grandtotal {
    margin-top: 12px;
}

.shopping_cart_items_button_flex {
    display: flex;
    justify-content: space-between;
}
.shopping_cart_button {
    margin-top: 72px;
    padding: 16px 40px;
    border: 1px solid #A4A4A4;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 300;

}
.shopping_cart_button:hover {
    background: #F16D7F;
    color: white;
}
.cart_adress_form_title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    text-transform: uppercase;
    
}
.cart_adress_form {
    
    height: 45px;
    width: 360px;
    padding-left: 16px;
    margin-top: 21px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    border: 1px solid #A4A4A4;
}
.cart_quote_button {
    height: 34px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    border: 1px solid #A4A4A4;
    margin-top: 24px;
    background: transparent;
}



.shopping_cart_checkout_grandtotal {
    padding-bottom: 21px;
    border-bottom: 1px solid green;
}

.cart_proceed_button {
    margin-top: 16px;
    display: block;
    padding: 16px 43px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #F16D7F;
    border: 0px;
    align-items: center;  
}
.cart_proceed_button:hover {
    transform: scale(1.1);
}

.shopping_cart_checkout_subtext {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
}

.shopping_cart_checkout_grandtext {
    
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #222222;
}
.shopping_cart_checkout_grandtext:last-child {
    color: #F16D7F;
    font-weight: 700;
}
.sub1, .grand1 {
    margin-right: 30px;
}
/*CART.HTML*/
