* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
   
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.wrapper {
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main_page_content {
    flex-grow: 1
}

/*INDEX.html*/
.header_menu_back {
    background-color: black;
    .header_menu {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
        display: flex;
        justify-content: space-between;
        
        .menu_icon1 {
            margin-right: 41px;
        }
        .menu_icon2:not(:last-child) {
            margin-right: 33px;
        }
        .menu_icon1_anim:hover {
            transform: scale(1.2);  
        }
        .menu_icon2_anim:hover {
            transform: scale(1.2);
        }
    }
}
.header_content {
    background-color:#F1E4E6;
    height: 764px;
    position: relative;
    
    .head_content_flex {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-end;
        background-image: url(../img/Head_image_man.png);
        background-repeat: no-repeat;
        background-position-x: -228px;
        padding-right: 99px;
        .head_content_title {
            max-width: 405px;
            border-left: 12px solid #F16D7F; 
            padding-left: 16px;
            .head_title_text {
                font-style: normal;
                font-weight: 700;
                font-size:  32px; /*при 32пикселях перенос строки*/ 
                line-height: 38px;
                color: #222222;
                .title_text_bold {
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 58px;
                    .title_decor {
                        color: #F16D7F;
                    }
                }
            }
        }   
        
    }
    .head_menu_module{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0px; /*чисто для анимации, 0 для статики*/
        height: 764px;
        width: 232px;
        background: #FFFFFF;
        box-shadow: 0px 19px 11px 0px rgba(0, 0, 0, 0.24);
        opacity: 1;

        .menu_block_exit {
            align-self: end;
            margin: 16px 16px 0px 0px;
        }
        .menu_block {
            display: block;
            margin-top: 9px;
            padding-left: 34px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
        
        .menu_block_main {
            display: block;
            margin-top: 20px;
            padding-left: 34px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #F16D7F;
        }
        .menu_block_main:last-child {
            margin-top: 24px;
        }
        .menu_block_link {
            display: block;
            margin-top: 12px;
            padding-left: 54.5px;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            color: #6F6E6E;
        }
    }
    .head_menu_module:hover {
        opacity: 1;
        transform: translateX(-210px);
        transition: 1.5s;
    }
    .menu_block_link:hover, .menu_block:hover,.menu_block_exit:hover, .menu_block_main:hover {
        transform: scale(1.2);
    }
}

.category_module {
    margin-top: 65px;
    .category_module_flex {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .category_item {
            width: 100%;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .category_item:not(:last-child) {
            max-width: 360px;
            height: 260px; 
        }
        .card_text {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            text-decoration: none;
            .card_text_decor {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
            }
        }
        .card_text:hover {
            transform: scale(1.1);
        }
        .card1 {
            background-image: url(../img/for_woman.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .card2 {
            background-image: url(../img/for_man.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .card3 {
            background-image: url(../img/for_kid.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .card4 {
            background-image: url(../img/for_acc.png);
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

}
.featured_items_module {
    margin-top: 96px;
    .featured_items_text {
        text-align: center;

        .featured_items_heading {
            font-size: 30px;
            line-height: 36px; 
            color: #222222;
        }
        .featured_items_paragraph {
            margin-top: 6px;
            font-size: 14px;
            line-height: 17px;
            color: #9F9F9F;
        
        }
    }
    .featured_items {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .featured_items_card {
            max-width: 360px;
            height: 100%;
            background: #F8F8F8;
            .shadow_card {
                background: #000000;
                max-height: 420px;
                position: relative;
                .img_button_basket {
                    padding-right: 11px;
                }
                .featured_items_img_button {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    top: 188.5px;
                    left: 111.5px;
                    border: 1px solid #FFFFFF;
                    text-decoration: none;
                    padding: 10px 13px 8px 10px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    color: #FFFFFF;
                    background: transparent;
                    opacity: 0;
                }
            }
            .description_card {

            }
            }
        .featured_items_card:hover .featured_items_img {
            opacity: 0.5;
            transition: 1s;
            
            .featured_items_img_button{
                transition: 1s;
                opacity: 1;
            }
            .featured_items_img_button:hover {
                transform: scale(1.5);
            }
        }
        .buttun_flex_center {
            display: flex;
            justify-content: center;
            .catalog_button {
                padding: 14.5px 38.5px 13.5px 38.5px;
                border: 1px solid #FF6A6A;
                font-size: 16px;
                line-height: 19px;
                color: #F26376;
                text-decoration: none;
                text-align: center;
                display: inline-block;
                margin-top: 48.5px;
            }
            .catalog_button:hover {
                background: #FF6A6A;
                color: #FFFFFF;
                transition: 0.5s;
            }
        }
    }
}
.benefits {
    width: 100%;
    background: #222224;
    margin-top: 95.5px;
    .benefit_card_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .benefits_card {
            max-width: 360px;
            height: 100%;
            padding: 104px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .benefits_heading {
                font-weight: 400;
                font-size: 19.96px;
                line-height: 24px;
                color: #FBFBFB;
                text-align: center;
                margin-top: 25px;
            }
            .benefits_paragraph {
                font-weight: 300;
                font-size: 13.972px;
                line-height: 17px;
                text-align: center;
                color: #FBFBFB;
                margin-top: 16px;
                opacity: 0.7;
            }       
        }
        .benefits_card:hover {
            transform: scale(1.1);
            transition:  0.5s;
         }   
    }
}
.subscribe_module{
    background-image: url(../img/subscribe_back.png);
    background-repeat: round; /*тут можно без репита, то тогда при ширине >1598px белая полоса */
    height: 100%;
    width: auto;
    .subscribe_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wishes {
            max-width: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 86px;
            padding-bottom: 174px;
            .wishes_paragraph {
                margin-top: 20px;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #222224;
            }
        }
        .subscribe {
            max-width: 557px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 130px;
            padding-bottom: 156px;
            .subscribe_text {
                text-align: center;
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
                text-align: center;
                color: #222224;
                .subscribe_text_decor {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: -8px;
                }
            }
            .subscribe_button {
                margin-top: 32px;
                width: 100%;
                display: flex;
                .input_email {
                    padding: 8px 0px 7px 22px;
                    background: #E1E1E1;
                    border: 0px;
                    border-radius: 15px 0px 0px 15px;
                    height: 49px;
                    width: 100%;
                    
                }
                .input_submit {
                    background: #F16D7F;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    margin-left: -5px;
                    padding: 7px 7px 6px 8px;
                    border: 0px;
                    border-radius: 0px 15px 15px 0px;
                    height: 49px;
                    width: 100%;
                    max-width: 100px;
                }
            }
        }
    }
}

.footer {
    background:#222224;
    padding: 30px 0px;
    .footer_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer_text_decor {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FBFBFB; 
    }
    .foot_icon {
        background: white;
    }
    .foot_icon:hover {
        background: #F16D7F;
    }   
    
    .foot_icon:hover .icon_color {
        fill: white;
    }
}
}