@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*HEADER*/
/*HEADER CART.HTML*/
.header__background {
  background-color: black;
}

.header__menu {
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left a {
  display: inline-block;
  margin-right: 41px;
}

.header__left a:last-child {
  margin-right: 0px;
}

.header__right a {
  display: inline-block;
  margin-right: 41px;
}

.header__right a:not(:last-child) {
  margin-right: 33px;
}

.header__content {
  background: #F8F3F4;
}

.header__content__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
}

.header__title h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-decoration: none;
  text-transform: uppercase;
}

.header__category__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none;
}

.header__category__link:nth-child(3) {
  color: #F16D7F;
  font-weight: 700;
}

.header__category__link:hover {
  color: #F16D7F;
  font-weight: 700;
}

.header .menu__icon1__anim:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header .menu__icon2__anim:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*HEADER CART.HTML*/
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .header__left {
    margin-left: 16px;
  }
  .header__right {
    margin-right: 16px;
  }
  .header__right a:not(:last-child) {
    margin-right: 25px;
  }
  .header__right a:nth-child(2) {
    margin-right: 42px;
  }
  .header__right a:nth-child(3) {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
  .header__left {
    margin-left: 16px;
  }
  .header__right {
    margin-right: 16px;
  }
  .header__right a:not(:last-child) {
    margin-right: 25px;
  }
  .header__right a:nth-child(2) {
    margin-right: 42px;
  }
  .header__right a:nth-child(3) {
    margin-right: 0px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .header__left {
    margin-left: 9px;
  }
  .header__right {
    margin-right: 9px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .header__right a:nth-child(2), .header__right a:nth-child(3) {
    display: none;
  }
  .header__left a {
    margin-left: 7px;
  }
  .header__right a:nth-child(1) {
    margin-right: 7px;
  }
  .header__content__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__cat {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__cat1, .header__cat2 {
    margin-top: 24px;
  }
}

/*HEADER*/
/*PRODUCT.HTML*/
/*PRODUCT.HTML*/
.subscribe_module_product {
  margin-top: 128px;
  background-image: url(../img/subscribe_back.png);
  background-repeat: round;
  /*тут можно без репита, то тогда при ширине >1598px белая полоса */
  height: 100%;
  width: 100%;
}

.header_product_module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F7F7;
  z-index: 1;
  padding-bottom: 53px;
}

.featured_items_module {
  margin-top: 96px;
}

.featured_items_text {
  text-align: center;
}

.featured_items_heading {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.featured_items_paragraph {
  margin-top: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.featured_items {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.featured_items_card {
  max-width: 360px;
  height: 100%;
  background: #F8F8F8;
}

.featured_items_card_heading {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  padding-left: 18px;
}

.featured_items_card_paragraph {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  padding-bottom: 18px;
  padding-left: 18px;
  color: #5D5D5D;
  opacity: 0.7;
}

.featured_items_card_price:before {
  content: '$';
  margin-bottom: 15px;
}

.card_price {
  padding-left: 18px;
  margin-bottom: 16px;
}

.featured_items_card_price {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.featured_items_link {
  text-decoration: none;
}

.shadow_card {
  background: #000000;
  max-height: 420px;
  position: relative;
}

.featured_items_card:hover .featured_items_img {
  opacity: 0.5;
  -webkit-transition: 1s;
  transition: 1s;
}

.featured_items_img_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 188.5px;
  left: 111.5px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  padding: 10px 13px 8px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  background: transparent;
  opacity: 0;
}

.featured_items_card:hover .featured_items_img_button {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.featured_items_img_button:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.catalog_button {
  padding: 14.5px 38.5px 13.5px 38.5px;
  border: 1px solid #FF6A6A;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 48.5px;
}

.buttun_flex_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog_button:hover {
  background: #FF6A6A;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.img_button_basket {
  padding-right: 11px;
}

.catalog_items_module {
  margin-top: 51px;
}

.left_select, .right_select {
  display: block;
  background: rgba(42, 42, 42, 0.15);
  padding: 12.6px 17.3px 8.9px 17.3px;
  border: 0px;
  cursor: pointer;
}

.left_select:hover .page_fill {
  fill: #EF5B70;
}

.right_select:hover .page_fill {
  fill: #EF5B70;
}

.product_img {
  max-width: 597px;
  width: 100%;
  height: auto;
}

.main_product_module {
  margin-top: -50px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_product_descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EAEAEA;
  background: white;
  padding-bottom: 65px;
  max-width: 1141px;
  width: 100%;
}

.container_product_descr {
  text-align: center;
  max-width: 641px;
  margin: auto;
}

.product_items_module {
  margin-top: 128px;
}

.product_items_filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
}

.product_filter_category {
  display: block;
  padding: 13px 0px 0px 16px;
  width: 360px;
}

.product_filter_category_summary {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.filter_category_tsp {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
}

.filter_category_tsp_sum {
  display: block;
}

.main_product_descr_title {
  display: block;
  margin-top: 64px;
  padding-bottom: 12px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.string_red {
  display: block;
  max-width: 63px;
  height: 3px;
  background: #EF5B70;
  border: 0px;
  margin: auto;
}

.string_grey {
  display: block;
  max-width: 641px;
  height: 1px;
  background: #EAEAEA;
  border: 0px;
  margin: auto;
}

.main_product_descr_name {
  display: block;
  margin-top: 12px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.main_product_descr_paragraph {
  margin-top: 48px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.main_product_descr_price {
  margin-top: 32px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  padding-bottom: 65px;
}

.main_product_descr_price:before {
  content: "$";
}

.main_product_button_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_product_button {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 211px;
  height: 47.4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: 1px solid #FF6A6A;
  background: white;
}

.main_product_button_text {
  margin-right: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F26376;
}

.main_product_button_basket_color {
  fill: #F26376;
}

.main_product_button:hover {
  background-color: #F16D7F;
}

.main_product_button:hover .main_product_button_text {
  color: white;
}

.main_product_button:hover .main_product_button_basket_color {
  fill: white;
}

@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .main_product_module {
    margin-top: 0px;
  }
  .main_product_descr {
    max-width: 768px;
  }
  .featured_items_card:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
  .featured_items {
    margin-top: 0px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .product_img {
    width: 100%;
    max-width: 280px;
  }
  .main_product_descr {
    padding-left: 24px;
    padding-right: 24px;
  }
  .main_product_descr_paragraph {
    line-height: 143.1%;
    opacity: 0.7;
    margin-top: 31px;
  }
  .string_grey {
    max-width: 175px;
  }
  .filter_category_tsp_sum {
    font-size: 10px;
  }
  .filter_category_tsp_img {
    margin-left: 9px;
  }
  .featured_items {
    gap: 0px;
  }
  .featured_items_card:nth-child(2) {
    display: none;
  }
  .featured_items_card:nth-child(3) {
    display: block;
  }
}

/*PRODUCT.HTML*/
/*PRODUCT.HTML*/
/*SUBSCRIBE*/
/*subscribe_GENERAL*/
.subscribe {
  background-image: url(../img/subscribe_back.png);
  background-repeat: round;
  /*тут можно без репита, то тогда при ширине >1598px белая полоса */
  height: 100%;
  width: auto;
}

.subscribe__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__wishes {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 86px;
  padding-bottom: 174px;
}

.subscribe__wishes p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe__form {
  max-width: 557px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 130px;
  padding-bottom: 156px;
}

.subscribe__form h1 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.subscribe__form h1 span {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-top: -8px;
}

.subscribe__button {
  margin-top: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__button .input__email {
  padding: 8px 0px 7px 22px;
  background: #E1E1E1;
  border: 0px;
  border-radius: 15px 0px 0px 15px;
  height: 49px;
  width: 100%;
}

.subscribe__button .input__submit {
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-left: -5px;
  padding: 7px 7px 6px 8px;
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  height: 49px;
  width: 100%;
  max-width: 100px;
}

.cart__buy {
  margin-top: 128px;
}

.cart__cat {
  margin-top: 0px;
}

/*subscribe_GENERAL*/
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
  .subscribe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -250px;
  }
  .subscribe__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__wishes {
    padding-top: 54px;
    padding-bottom: 0px;
  }
  .subscribe__form {
    padding-bottom: 140px;
    padding-top: 68px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
  .subscribe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -320px;
  }
  .subscribe__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__wishes {
    padding-top: 54px;
    padding-bottom: 0px;
  }
  .subscribe__form {
    padding-bottom: 140px;
    padding-top: 68px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .subscribe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -400px;
  }
  .cart__buy {
    margin-top: 96px;
  }
  .subscribe__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__wishes {
    padding-top: 54px;
    padding-bottom: 0px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .subscribe__form {
    padding-bottom: 110px;
    padding-top: 58px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

/*SUBSCRIBE*/
/*FOOTER*/
/*FOOTER*/
.footer {
  background: #222224;
  padding: 30px 0px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer .foot_icon {
  background: white;
}

.footer .foot_icon:hover {
  background: #F16D7F;
}

.footer .foot_icon:hover .icon_color {
  fill: white;
}

/*FOOTER*/
@media (max-width: 1024px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 736px;
  }
}

@media (max-width: 667px) {
  .container {
    max-width: 649px;
  }
  .footer {
    padding: 43px 0px 24px 0px;
  }
  .footer__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__text {
    margin-top: 25px;
  }
}

/*FOOTER*/
/*# sourceMappingURL=styleProduct.css.map */